In [2]:
#Variables

a = 55
print type(a)
b = 'Rupali'
print type(b)
c = 10.05
print type(c)

<type 'int'>
<type 'str'>
<type 'float'>

In [3]:
a = 5
b=6
print a+b

11

In [4]:
a = 5
b = 10.05

print type(a+b)

<type 'float'>

In [6]:
a = 2**2
print a

4

In [8]:
#String Concatenation
a = 'I'
b = 'am'
c = 'a girl'

d = a+" " + b + " "+c
print d

I am a girl

In [18]:
#Lists
l = [1, 'a', 10.05]
print l

print len(l)

l.append('abc')
print l
l.insert(1,55)
print l

l=[]
print l
l = list()
print l

l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
print l3

l1 = [1,2,3,[4,5,6]]
print l1

[1, 'a', 10.05]
3
[1, 'a', 10.05, 'abc']
[1, 55, 'a', 10.05, 'abc']
[]
[]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, [4, 5, 6]]

In [25]:
l = [1,2,3,4,5,6]
print l[2]

print l[2:5]

#syntax 
#list_name[start:(end+1):skip]
print l[:5:2]

print l[-1]

#reverse order
print l[::-1]

3
[3, 4, 5]
[1, 3, 5]
6
[6, 5, 4, 3, 2, 1]

In [29]:
#Dictionary
d = {'a':1, 'b':2, 'z':26}
print d

d['c'] = 3
print d

print d.keys()
print d.values()

{'a': 1, 'b': 2, 'z': 26}
{'a': 1, 'c': 3, 'b': 2, 'z': 26}
['a', 'c', 'b', 'z']
[1, 3, 2, 26]

In [32]:
#Range
a = range(10)
print a

b = range(2,10)
print b

c = range(2,10,2)
print c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [34]:
#Loops

for i in range(2,15,3):
    print i

2
5
8
11
14

In [36]:
i = 2
while i<6:
    print i
    i += 1

2
3
4
5

In [38]:
i = 2
while True:
    print i
    
    
    if i==5:
        break
    i+=1

2
3
4
5

In [41]:
#Sets
x = set()
print x

x.add(10)
print x

set([])
set([10])

In [43]:
#Functions

def add(a,b):
    print a**2
    return a+b

add(2,3)

4

5

In [46]:
#Argumenst and Keyword Arguments

def add(a1, b1, *args, **kwargs):
    ret_sum = a1 + b1
    #print type(args)
    #print type(kwargs)
    
    for i in args:
        ret_sum += i
    
    for i in kwargs.values():
        ret_sum += i
        
    return ret_sum
    
    
print add(2,3)
print add(5,6,3,8,b=1,c=3)

5
26

In [ ]:
#This is a line comment

'''
This
is a 
paragraph comment
'''

In [48]:
#Packages and Imports
import math 

a = math.sqrt(49)
print a

7.0

In [49]:
from math import *
a = sqrt(49)
print a

7.0

In [50]:
from math import sqrt

In [51]:
import math as mth

In [62]:
#Classes and Objects

class Employee:
    empCount = 0
    
    def __init__(self, name, salary, age):
        self.name = name
        self.salary = salary
        self.age = age
        Employee.empCount += 1

In [63]:
e1 = Employee('Rupali', 10, 20)
print e1.name
print e1.salary
print e1.age
print e1.empCount

e2 = Employee('Karan', 10, 22)
print e2.name
print e2.salary
print e2.age
print e1.empCount
print Employee.empCount

Rupali
10
20
1
Karan
10
22
2
2